.clases-page {
    background-color: #f0f8ff; /* Color amigable de fondo */
    padding: 70px;
    text-align: center;
}

h1 {
    margin-top: 200px;
    margin-bottom: 70px;
    font-family: 'Times New Roman', Times, serif;
}

.clases-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clase {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 90px;
    width: 350px; /* Ajusta el tamaño según sea necesario */
    transition: transform 0.2s; /* Efecto hover */
}

.clase:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el cursor */
}

.tag {
    background-color: #ffbf00; /* Color de fondo para la etiqueta */
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

.form-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #0056b3;
}

.App {
    min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos la altura total */
    display: flex;
    flex-direction: column; /* Hace que los elementos hijos se alineen verticalmente */
}

footer {
    margin-top: auto; /* Ajusta este valor según sea necesario */
    background-color: #333; /* Color de fondo del footer */
    color: white; /* Color del texto del footer */
    padding: 20px 0; /* Espaciado interno del footer */
    text-align: center; /* Centra el texto */
}
