@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Establece Roboto como la fuente principal */
}

.neon-text{
    text-shadow: 
      0 0 5px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 10px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 15px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 20px rgba(0, 0, 0, 1),    /* Negro más intenso */
      0 0 30px rgba(0, 0, 0, 1);    /* Negro más intenso */
  }

.neon-text-tittle{
    text-shadow: 
      0 0 5px rgba(29, 53, 87, 0.5), /* Azul oscuro suave */
      0 0 10px rgba(29, 53, 87, 0.6), /* Azul oscuro más fuerte */
      0 0 15px rgba(29, 53, 87, 0.7), /* Azul oscuro aún más fuerte */
      0 0 20px rgba(29, 53, 87, 1),   /* Azul destacado */
      0 0 30px rgba(13, 24, 50, 1);   /* Azul más intenso */
}

/* From Uiverse.io by alexroumi */ 
.clase-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #ffffff;
  z-index: 1;
  background: #002642;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .clase-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #1d3557;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .clase-button:hover {
  color: #e8e8e8;
 }
 
 .clase-button:hover::before {
  width: 100%;
 }