/* Header.css */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: flex-start; /* Mueve todo el contenido hacia la izquierda */
  align-items: center;
  max-width: 1200px;
  padding: 0 2vw; /* Usa unidades relativas para que se ajuste mejor en diferentes tamaños de pantalla */
    margin: 0 auto;
}

.logo img {
  max-height: 90px;
}

.main-nav {
  margin-left: 100px; /* Aumenta el espacio entre el logo y el texto del menú */
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 80px; /* Reduce el espacio entre los elementos del menú */
  margin: 0;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 400; /* Ajusta el grosor del texto */
  transition: color 0.3s ease;
}


.main-nav a:hover {
  color: #ffbf00;
    transform: scale(1.05); /* Agranda ligeramente el texto al pasar el cursor */
}

@media (max-width: 1024px) {
  .main-nav {
      margin-left: 50px; /* Reduce el espacio en pantallas medianas */
  }
}



/* Agrega esto en tu archivo CSS, por ejemplo, Header.css o HeroSection.css */

/* Definición de la animación fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Clase para aplicar la animación fade-in */
.fade-in {
  animation: fadeIn 1s ease-in-out; /* La animación dura 2 segundos, pero puedes ajustar el tiempo */
}


