@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Establece Roboto como la fuente principal */
}

.section-2 {
    background: linear-gradient(to bottom, #8da9c4, #457b9d, #0077b6, #1d3557);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-3 {
    background: linear-gradient(to bottom, #1d3557, #2a4c6a, #345e7a);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-4 {
    background: linear-gradient(to bottom,  #345e7a,#3f7593, #55a4cc, #2d3748,#1f2937);
    background-size: cover;
    background-repeat: no-repeat;
}