@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Establece Roboto como la fuente principal */
}

.neon-text-titulo {
  color: #1d3557; /* Color base */
  text-shadow: 
      0 0 5px #1d3557, /* Brillo suave */
      0 0 10px #a8dadc, /* Color del brillo */
      0 0 15px #a8dadc; /* Color del brillo más intenso */
}


.label-text{
    text-shadow: 
      0 0 5px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 10px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 15px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 20px rgba(0, 0, 0, 1),    /* Negro más intenso */
      0 0 30px rgba(0, 0, 0, 1);
}