@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Establece Roboto como la fuente principal */
}

.neon-text-titulo {
    color: #1d3557; /* Color base */
    text-shadow: 
        0 0 5px #1d3557, /* Brillo suave */
        0 0 10px #a8dadc, /* Color del brillo */
        0 0 15px #a8dadc; /* Color del brillo más intenso */
  }


.neon-text-subtitulo {
    text-shadow: 
      0 0 5px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 10px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 15px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 20px rgba(0, 0, 0, 1),    /* Negro más intenso */
      0 0 30px rgba(0, 0, 0, 1);    /* Negro más intenso */
}

.label-text{
    text-shadow: 
      0 0 5px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 10px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 15px rgba(0, 0, 0, 0.8), /* Negro suave */
      0 0 20px rgba(0, 0, 0, 1),    /* Negro más intenso */
      0 0 30px rgba(0, 0, 0, 1);
}

button {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #1a75d5; /* Puedes ajustar el color al estado hover */
}
