.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.content, .content2 {
  position: absolute;
  color: white;
  text-align: center;
}

.content {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content2 {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

.title-modern {
  font-size: 150px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.title-modern2 {
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.button-container {
  position: absolute;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.cta-button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e64a19;
}

/* Media Queries para Responsividad */

/* Pantallas grandes (escritorios grandes) */
@media (min-width: 1200px) {
  .title-modern {
    font-size: 130px;
  }

  .title-modern2 {
    font-size: 60px;
  }

  .content {
    top: 10%;
    left: 25%;
  }
  
  
  .content2 {
    top: 30%;
    left: 35%;
  }

  .button-container {
    bottom: 180px;
  }
}

/* Pantallas medianas (tabletas) */
@media (max-width: 900px) {
  .title-modern {
    font-size: 90px;
  }

  .title-modern2 {
    font-size: 35px;
  }

  .content {
    top: 10%;
    left: 25%;
  }
  
  
  .content2 {
    top: 30%;
    left: 35%;
  }


  .button-container {
    bottom: 150px;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 1.1rem;
  }
}

/* Pantallas pequeñas (teléfonos móviles) */
@media (max-width: 600px) {
  .title-modern {
    font-size: 60px;
  }

  .title-modern2 {
    font-size: 30px;
  }

  .content, .content2 {
    top: 25%;
    left: 50%;
  }

  .button-container {
    bottom: 100px;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
