@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #002f6c, #ffffff, #76c7f5);
  min-height: 100vh; /* Asegúrate de que el fondo cubra toda la pantalla */
  display: flex; /* Para centrar los contenidos */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}